html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
body {
    -webkit-font-smoothing: antialiased;
    line-height: 1.6
}
input, textarea, button, a {
    outline: 0
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd, fieldset, textarea {
    margin: 0
}
fieldset, legend, textarea, input {
    padding: 0
}
ul, ol {
    padding-left: 0;
    list-style-type: none
}
a img, fieldset {
    border: 0
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block
}
audio, canvas, video {
    display: inline-block
}
audio:not([controls]) {
    display: none;
    height: 0
}
[hidden] {
    display: none
}
svg:not(:root) {
    overflow: hidden
}
figure {
    margin: 0
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0
}
button, select {
    text-transform: none
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button
}
button[disabled], html input[disabled] {
    cursor: default
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}
input[type="search"] {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}
textarea {
    overflow: auto;
    vertical-align: top;
    resize: none
}
select {
    border-radius: 0;
    -webkit-border-radius: 0
}
body {
    line-height: 1.6;
    font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "黑体", Arial, sans-serif;
    color: #222;
    font-size: 14px
}
textarea, input {
    color: #222
}
textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {
    color: #a3a3a3
}
textarea:-moz-placeholder, input:-moz-placeholder {
    color: #a3a3a3
}
textarea::-moz-placeholder, input::-moz-placeholder {
    color: #a3a3a3
}
textarea:-ms-input-placeholder, input:-ms-input-placeholder {
    color: #a3a3a3
}
textarea {
    resize: none;
    overflow-y: auto
}
a {
    color: #459ae9;
    text-decoration: none
}
a:hover {
    text-decoration: underline
}
button, input, select, textarea {
    *font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "黑体", Arial, sans-serif
}
.page_pay_qrcode .main_bd {
    padding: 50px 80px
}
.page_appmsg_edit .main_bd {
    padding: 50px 30px 0
}
.page_tpl_edit .main_bd {
    padding: 50px
}
.page_media_list .main_bd {
    padding: 20px 0 40px 0
}
.page_mass_list .main_bd {
    padding-bottom: 40px
}
.container_box {
    min-height: 650px
}
.container_box.float_layout {
    overflow: hidden;
    *zoom: 1
}
.container_box.float_layout .col_side {
    width: 208px;
    padding-bottom: 9999em;
    margin-bottom: -9999em
}
.container_box.float_layout .col_main {
    overflow: hidden;
    *zoom: 1
}
.container_box.float_layout.side_l .col_side {
    float: left
}
.container_box.float_layout.side_r .col_side {
    float: right
}
.container_box.cell_layout {
    *overflow: hidden
}
.container_box.cell_layout .col_side, .container_box.cell_layout .col_main {
    display: table-cell;
    vertical-align: top;
    word-wrap: break-word;
    word-break: break-all
}
.container_box.cell_layout .col_side {
    width: 17.5%;
    max-width: 208px
}
.container_box.cell_layout .col_main {
    width: 2000px;
    height: 650px
}
.container_box.cell_layout .col_side {
    *float: left;
    *width: 208px;
    *padding-bottom: 9999em;
    *margin-bottom: -9999em
}
.container_box.cell_layout .col_main {
    *zoom: 1;
    *width: auto;
    *height: auto
}
.container_box.cell_layout.side_r .col_side {
    *float: right
}
.col_ext {
    width: 20%
}
.container_hd, .main_hd {
    line-height: 40px
}
.container_hd .info, .main_hd .info {
    margin-top: -40px;
    text-align: right
}
.container_hd h2, .main_hd h2 {
    font-weight: 400;
    font-style: normal
}
.container_hd .extra_info, .main_hd .extra_info {
    margin-top: -40px;
    text-align: right
}
.ft.links {
    font-size: 12px
}
.ft .links_item {
    border-left-color: #f1f1f1
}
.ft .links_item a {
    color: #f1f1f1
}
.foot {
    padding: 24px 0;
    color: #f1f1f1;
    text-align: center;
    background-color: #b8b9b9
}
.copyright {
    display: inline-block;
    *display: inline;
    *zoom: 1
}
.page {
    width: 100%;
    margin-left: auto;
    margin-right: auto
}
.body {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 36px 0 88px
}
.container_box {
    border: 1px solid #d9dadc;
    background-color: #fff
}
.container_box.simple {
    overflow: hidden;
    background-color: #fff
}
.col_side {
    background-color: #fff
}
.col_side, .inner_side {
    *padding-bottom: 9999em;
    *margin-bottom: -9999em;
    min-height: 1px
}
.col_side_primary {
    width: 208px
}
.col_main_primary {
    overflow: hidden;
    *zoom: 1
}
.side_l .col_side {
    *float: left;
    border-right: 1px solid #e7e7eb
}
.side_l .col_side_primary {
    float: left;
    border-right: 1px solid #e7e7eb;
    margin-right: -1px
}
.side_l .col_main_primary {
    border-left: 1px solid #e7e7eb
}
.side_l.inner_container_box .inner_side {
    border-right: 1px solid #e7e7eb
}
.side_r .col_side {
    *float: right;
    border-left: 1px solid #e7e7eb
}
.side_r .col_side_primary {
    float: right;
    border-left: 1px solid #e7e7eb;
    margin-left: -1px
}
.side_r .col_main_primary {
    border-right: 1px solid #e7e7eb
}
.side_r.inner_container_box .inner_side {
    border-left: 1px solid #e7e7eb
}

.title_tab .tab_navs {
    line-height: 40px;
    border-bottom-color: #e7e7eb;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none
}
.title_tab .tab_nav {
    margin-bottom: -1px
}
.title_tab .tab_nav a {
    padding: 0 21px
}
.title_tab .tab_nav.first a {
    padding-left: 30px
}
.title_tab .tab_nav:hover {
    border-bottom: 3px solid #a0a3ab
}
.title_tab .tab_nav.selected {
    background: 0;
    border-bottom: 3px solid #44b549
}
.disabled_box {
    padding: .4em .8em;
    font-size: 14px;
    border: 1px solid #e7e7eb;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background-color: #f4f5f9
}
.notices_box {
    line-height: 40px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background-color: #fff;
    border: 1px solid #e7e7eb
}
.tool_bar {
    padding-bottom: 50px;
    padding-top: 20px
}
.tool_bar.simple_gap {
    margin-left: 20px;
    margin-bottom: 20px
}
.title_bar {
    padding: 0 20px;
    background-color: #f4f5f9;
    border-bottom: 1px solid #e7e7eb;
    line-height: 40px
}
.title_bar h3 {
    font-size: 14px;
    font-weight: 400;
    font-style: normal
}
.tool_area {
    padding: 0 30px
}
.copylink_wrp {
    display: inline-block;
    *display: inline;
    *zoom: 1
}
.copylink {
    display: inline-block
}
.page_nav {
    margin: 20px 30px
}
.page_nav .icon_goback {
    margin-right: .5em
}
.page_nav a {
    color: #8d8d8d
}
.page_nav a:hover {
    color: #459ae9
}
.page_nav.title_bottom {
    margin-top: 0
}
.gototop {
    position: fixed;
    bottom: 100px;
    left: 0;
    right: 0
}
.gototop_inner {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: right
}
.gototop_tips {
    background: url("/mpres/zh_CN/htmledition/comm_htmledition/style/base/base_z20273e.png") 0 -2600px no-repeat;
    width: 47px;
    height: 47px;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    line-height: 200px;
    overflow: hidden;
    margin-right: -80px
}
.page_tips {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 10000
}
.page_tips .inner {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    min-width: 250px;
    padding: 5px 30px;
    color: #fff
}
.page_tips.success .inner {
    background-color: #44b549
}
.page_tips.error .inner {
    background-color: #eaa000
}
.faq {
    width: 178px;
    margin-top: -60px;
    padding-left: 20px;
    font-size: 0
}
.faq .links {
    text-align: left
}
.faq .links_item {
    padding: 0 .5em;
    font-size: 12px;
    border-left-color: #8d8d8d
}
.faq .links_item a {
    color: #8d8d8d
}
.faq .links_item a:hover {
    color: #459ae9
}
.faq .links_item.no_extra {
    padding-left: 0
}
.faq .tail {
    color: #8d8d8d;
    font-size: 12px;
    line-height: 30px
}
.tc_dialog_content {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-align: left;
    width: 420px
}
.has_ft_desc .dialog_bd {
    position: relative
}
.has_ft_desc .dialog_ft_desc {
    position: absolute;
    bottom: -40px;
    left: 20px
}
.pop_closed {
    background: url("/mpres/zh_CN/htmledition/comm_htmledition/style/base/base_z20273e.png") 0 -2709px no-repeat
}
.pop_closed:hover {
    background: url("/mpres/zh_CN/htmledition/comm_htmledition/style/base/base_z20273e.png") 0 -2735px no-repeat
}
.ml1e {
    margin-left: 1em
}
.dialog_process .form {
    padding-left: 45px;
    padding-right: 45px
}
.dialog_process .dialog_bd {
    padding: 0 0 55px
}
.dialog_process .processor_bar {
    margin-bottom: 45px
}







.icon_menu {
    width: 23px;
    height: 23px;
    vertical-align: middle;
    display: inline-block
}













.menu_box {
    margin-bottom: 150px
}
.menu {
    padding-top: 8px
}
.menu.closed .menu_item {
    display: none
}
.menu_title {
    position: relative;
    padding: 0 30px 0;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    line-height: 34px;
    color: #8d8d8d
}
.menu_title .new {
    margin-left: 3px
}
.menu_title a {
    display: block;
    padding: 0 30px 0;
    color: #222;
    text-decoration: none
}
.menu_title a:hover {
    text-decoration: none
}
.menu_title.clickable {
    padding: 0
}
.menu_title.clickable i {
    cursor: pointer
}
.menu_title.clickable:hover {
    background-color: #f4f5f9
}
.menu_title.selected {
    background-color: #44b549;
    color: #fff
}
.menu_title.selected:hover {
    background-color: #44b549
}
.menu_title.selected a {
    color: #fff
}
.menu_item {
    line-height: 34px
}
.menu_item a {
    display: block;
    padding: 0 0 0 63px;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    color: #222
}
.menu_item a:hover {
    text-decoration: none
}
.icon_menu {
    margin-right: 10px;
    *margin-top: .2em
}
.icon_menu_switch {
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -9px
}
.menu {
    padding-bottom: 6px;
    border-top: 1px solid #e7e7eb
}
.menu.no_extra {
    border-top-width: 0;
    margin-top: 13px
}
.menu.extra {
    border-bottom: 1px solid #e7e7eb
}
.menu_title {
    margin-bottom: 0
}
.menu_item:hover {
    background-color: #f4f5f9
}
.menu_item.selected {
    background-color: #44b549;
    color: #fff;
    padding-left: 63px;
}
.menu_item.selected a {
    color: #fff
}
.menu_plugins {
    padding: 10px 0
}
.menu_plugins .btn_plugins_add {
    display: block;
    line-height: 34px;
    color: #8d8d8d;
    padding-left: 41px;
    width: 121px;
    margin: 0 auto;
    background: url("/mpres/zh_CN/htmledition/comm_htmledition/style/base/base_z20273e.png") 0 -3071px no-repeat;
    cursor: pointer
}
.menu_plugins .btn_plugins_add:hover {
    text-decoration: none;
    color: #222;
    background: url("/mpres/zh_CN/htmledition/comm_htmledition/style/base/base_z20273e.png") 0 -3115px no-repeat
}
.menu_plugins .btn_plugins_add i {
    margin-right: 5px
}
.menu_primary_box {
    width: 208px
}
.menu_primary_item {
    line-height: 32px
}
.menu_primary_item:hover {
    background-color: #f4f5f9
}
.menu_primary_item.selected {
    background-color: #44b549
}
.menu_primary_item.selected .menu_primary_link {
    color: #fff
}
.menu_primary_item.sub .menu_primary_link strong {
    margin-left: 28px
}
.menu_primary_link {
    display: block;
    color: #222
}
.menu_primary_link:hover {
    text-decoration: none
}
.menu_primary_link strong {
    display: block;
    cursor: pointer;
    margin: 0 14px;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    font-weight: 400;
    font-style: normal
}
body {
    min-width: 1200px;
    background: #e7e8eb
}
