body{
    font-size: 16px;
}
.q_container{
    border: 1px dotted black;
    margin-top: 10px;
}
.q_title{
    border-bottom: 1px solid red;
    padding: 10px;
}
.q_container p{
    margin: 10px;
}
.q_container ul{
    list-style: none;
}
.q_container ul li{
    margin-left: -20px;
    margin-bottom: 5px;
}
.q_container ul li label{
    margin-right: 10px;
    /*line-height: 30px;*/
    /*width: 80%;*/
    /*background-color: green;*/
}
input[type="radio"], input[type="checkbox"]{
    display:none;
}
input[type="radio"] + label, input[type="checkbox"] + label
{
    /*background: url("../images/unchecked.png");*/
    background-color: red;
    height: 16px;
    width: 80%;
    display:inline-block;
    padding: 0 0 0 0;
}

input[type="radio"]:checked + label, input[type="checkbox"]:checked + label
{
    /*background: url("../images/checked.png");*/
    background-color: blue;
    height: 16px;
    width: 80%;
    display:inline-block;
    padding: 0 0 0 0;
}
#submitanswer{
     width: 100%;
     height: 40px;
     font-size: 20px;
 }